html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: white;
}

body {
  margin: 0;
}

header {
  display: flex;
  height: 69px;
  position: fixed;
  border-bottom: 1px solid seashell;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 200;
  background-color: black;
}

.navigation {
  padding-right: 10px;
}
header nav span{
  text-decoration: underline;
  padding: 0 10px;
  font-weight: bold;
}


.container{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	padding-top: 64px;
}

#mission-img{
	background-image:url("../images/img-mission-background.jpg");
	display:block;
	width:1200px;
	height:700px;
	display:flex;
	align-items:center;
	justify-content: center;
}

#mission-txt{
	display: flex;
	flex-direction:column;
	flex-grow: 1;
  background-color: black;
}
